@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<CodeEditor Language="csharp" @bind-Code="source" OnCompletionsRequested="GetCompletionsAsync" />

@source

@code {
    string source = @"namespace Sample
{
    public class MyClass
    {
    }
}";

    Task<Suggestion[]> GetCompletionsAsync(string currentValue, Position position)
    {
        return Task.FromResult(new[]
        {
            new Suggestion {Label = "From C#", InsertText = "From C#" },
            new Suggestion {Label = "OK", InsertText = "OK" },
        });
    }
}
