@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<CodeEditor Language="csharp" @bind-Code="source" />

@source

@code {
    string source = @"namespace Sample
{
    public class MyClass
    {
    }
}";
}